@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300&display=swap');

.cardContainer{
    width: 30rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 8px #999;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    background: #EBE4FF;
    height: 32rem;
}

.cardImage{
    width: 30rem;
    height: 14rem;
    border-radius: 1rem 1rem 0 0;
}

.cardTitle{
    margin: 0.5rem 5%;
    margin-bottom: 1rem;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 500;
    font-size: x-large;
}

.textContainer{
    overflow: hidden;
}

.cardContent{
    margin: 0.5rem 5%;
    margin-bottom: 1rem;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 300;
    font-size: large;
    text-align: justify;
    overflow-wrap: break-word;
}

.cardLink{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 500;
    font-size: larger;
    width: 90px;
    height: 30px;
    padding: 0.25rem;
    border-radius: 30px;
    background-color: black;
    color: white;
    text-decoration: none;
    margin-top: 0.5rem;
    margin-left: 75%;
    margin-right: 25%;
    margin-bottom: 1rem;
}

.cardLink:hover{
    background: #393E46;
}

.cardLink:active{
    background: black;
}